/* fonts */
@font-face {
    font-family: 'MPLUS Rounded Bold';
    src: url('fonts/MPLUSRounded1c-Bold.ttf') format('truetype');
    font-weight: bold;
}

/* || common styles */
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    box-sizing: border-box;
    background-color: #2E3440;
    border: solid #2E3440;
}

button{
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'MPLUS Rounded Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 6vh;
    box-sizing: border-box;
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    border: solid #2E3440;
    border-radius: 2vh;
    color: #ECEFF4;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* || frame properties*/

#calculator_container{
    width: 37vh;
    height: 63vh;
    border-radius: 2vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}

/* || display properties */

#display {
    box-sizing: border-box;
    font-family: 'MPLUS Rounded Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 6vh;
    color: #ECEFF4;
    box-sizing: border-box;
    border: solid #4C566A;
    background-color: #4C566A;
    width: 35vh;
    height: 16vh;
    border-radius: 2vh;
}

/* || buttons */

.number_div{
    border: none;
    background-color: #4C566A;
}

.function_button{
    width: 17vh;
    background-color: #D08770;
    border-color: #D08770;
}

.digit{
    border-color: #4C566A;
    background-color: #4C566A;
}

.operator{
    border-color: #5E81AC;
    background-color: #5E81AC;
}

#backspace{
    background-image: url('assets/Backspace.svg');
}

#clear{
    background-image: url('assets/clear.svg');
}

#plus{
    background-image: url('assets/Plus.svg');
}

#minus{
    background-image: url('assets/minus.svg');
}

#divide{
    background-image: url('assets/Divide.svg');
}

#multiply{
    background-image: url('assets/Multiply.svg');
}

#equals{
    background-image: url('assets/Equals.svg');
}